{%- liquid 
  assign header_logo_size = section.settings.logo_width | append: 'x'
  assign has_logo = true
-%}

<h1>
  <a href="#">
    <img src="{{ section.settings.logo_image | img_url: header_logo_size }}">
  </a>
</h1>

  <div class="social-icons">
    {% if section.settings.icon1_link %}
      <img src="{{ section.settings.icon1_link }}" width="30px" height="30px">
    {% endif %}
    
    {% if section.settings.icon2_link %}
      <img src="{{ section.settings.icon2_link }}" width="30px" height="30px">
    {% endif %}
    
    {% if section.settings.icon3_link %}
      <img src="{{ section.settings.icon3_link }}" width="30px" height="30px">
    {% endif %}
    
    {% if section.settings.icon4_link %}
      <img src="{{ section.settings.icon4_link }}" width="30px" height="30px">
    {% endif %}
  </div>